* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    background-color: darkcyan;
}
header {
    padding: 10px 35px 10px 0;
    background-color: #565656;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
}
header h1 {
    background-color: darkcyan;
    padding: 10px 25px 10px 100px;
    margin: 0;
    font-weight: bold;
    font-size: 36px;
}
.bad {
color: darkred;
}
header a {
    text-decoration: none;
    color: darkblue
}
header nav {
    margin: 7px 0;
    text-decoration: underline;
    font-weight: bold;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}
header nav ul li a {
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 1.5vw;
    color: black;
}
span {
    font-weight: bolder;
}

/* recent photo*/
.img {
    opacity: 0.5;
    width: 31.3%;
    margin-left: 360px;
}
.space {
    background-image: url("../images/space.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
   
}
.background {
    background-color: darkcyan;
}

/* cool subtitle here */
.cool {
    padding: 10px;
    margin: 20px 50px 10px 20px;
    color: aqua;
    background: pink;
}

/* flexbox container for about me and work section */
.its-all {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    justify-content: space-between;
    padding: 20px;
}
.its-all-contact {
    margin-top: 115px;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    justify-content: space-between;
    padding: 20px;
}
.box-left {
    flex: 1 30%;
    padding-right: 20px;
    text-align: right;
    font-size: 40px;
    margin-bottom: 300px;
}
.box-right {
    flex: 2 70%;
    padding: 0 40px 30px;
    border-left: 5px black solid;
    font-size: 20px;
    margin-bottom: 230px;
}
.box-right-contact {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex: 2 70%;
    border-left: 5px black solid;
    margin-bottom: 230px;
}

/* grid container for work */
.grid-right {
    display: grid;
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 5px;
    
}
.grid-item {
    border: solid;
    border-color: black;
    color: darkcyan;
    background-color: peachpuff;
}
.grid-item-text-1 {
    background-color: pink;
    padding: 0 25px 0 10px;
    margin: 0 0 20px 0;
}
.grid-item-text {
    background-color: pink;
    padding: 0 10px 0 10px;
    margin: 0 0 5px 0;
    font-size: 10px;
}
.sat-1 {
	  grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 3; 
    background-image: url(../images/Oasis.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    top: 20px;
}
.sat-1:hover {
    opacity: 0.5;
}
.sat-2 {  
    background-image: url(../images/kabik.PNG);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}
.sat-2:hover {
    opacity: 0.5;
}
.sat-3 {  
    background-image: url(../images/freemason.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}
.sat-3:hover {
    opacity: 0.5;
}
.sat-4 {  
    background-image: url(../images/sand.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}
.sat-4:hover {
    opacity: 0.5;
}
.sat-5 {  
    background-image: url(../images/moon.JPG);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}
.sat-5:hover {
    opacity: 0.5;
}
address {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
      padding: 10px 25px 10px 60px;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    .about-me, .work, .contact-me, .its-all, .its-all-contact {
      margin-right: 75px;
    }
    .box-right-contact {
      flex-wrap: wrap;
    }
    .img {
      margin-left: 0;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header h1 {
      padding: 10px 25px 10px 60px
    }
    .about-me, .work, .contact-me, .its-all, .its-all-contact {
      margin: 20px 50px 80px 0;

    }
    .box-right-contact {
      flex-wrap: wrap;
      margin: 60px 0 0 0;
    }
    .img {
      margin-left: 0;
    }
    .contact-me {

    }
    .box-left {
      font-size: 20px;
    }
  }

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header h1 {
    padding: 10px 50px 10px 60px
    }
  }